---
layout: default
title: "韦氏传媒 | CNV4.COM" 
---

{% for post in paginator.posts %}
 
	<h3> {{ post.title }} <div class="post-date"><span class="glyphicon glyphicon-time"></span> {{ post.date | date_to_string }} 
		
		<!-- Counter placeholder -->
{% if site.leancloud.enable %}
  <br><span class="glyphicon glyphicon-eye-open"></span>
  <span id="{{ post.url }}" class="leancloud_visitors_readyonly" data-flag-title="{{ post.title }}"> <span class="leancloud-visitors-count" ></span>
  </span>
{% endif %} 
		 
		</div> </h3>
	<hr>	
	<a href="{{ post.url }}" style="text-decoration:none;color:rgb(0,0,0)">
	{% if post.content contains site.excerpt_separator %}
			{{ post.excerpt }}		
		{% else %}
			{{ post.content | truncatewords:120 | strip_html}}		
	{% endif %} 
	
  </a>
	<ul class="pager"> <li class="previous"> <a href="{{ post.url }}" style="background:#e67e22;color:#ffffff;border:1px solid #e67e22;"> 阅读全文... </a> </li> </ul>	
{% endfor %}

<!-- Pager -->
<div class="row">
  <div class="col-md-2 col-md-offset-5">
		<ul class="pager" style="width: 150px">
		  {% if paginator.previous_page %} 
			  {% if paginator.previous_page == 1 %}
				  <li class="previous" >
				    <a href="{{ site.url }}/" title="上一页">
				      <span class="glyphicon glyphicon-chevron-left"></span>  
				    </a>
				  </li>
			  {% else %}
				  <li class="previous" >
				    <a href="{{ site.url }}/page{{ paginator.previous_page }}" title="上一页" >
				      <span class="glyphicon glyphicon-chevron-left"></span> 
				    </a>
				  </li>
			  {% endif %} 
			{% endif %}
			
{% if paginator.total_pages > 1 %} 
   <span style="nowrap; ">第 {{paginator.page}} 页/共 {{paginator.total_pages}} 页 </span> 
{% endif %} 

			{% if paginator.next_page %}
				  <li class="next" >
			    <a href="{{ site.url }}/page{{ paginator.next_page }}" title="下一页">
			       <span class="glyphicon glyphicon-chevron-right"></span> 
			    </a>
			  </li>
		  {% endif %}
	  </ul>
  </div>
</div>