---
layout: default
title: "韦氏传媒 | CNV4.COM"
---

<!--
<h1 class="page-header"> ΩԐ±仯£¬²Ɗȓ:㣡</h1>
-->

{% for post in paginator.posts %}
	<h2> {{ post.title }} <div class="post-date"><span class="glyphicon glyphicon-time"></span> {{ post.date | date_to_string }} </div> </h2>
	<hr>	
	{% if post.abstract %}
		{{ post.abstract }}		
	{% else %}
		{% if post.content contains '<!--more-->' %}
			{{ post.excerpt }}		
		{% else %}
			{{ post.content | truncatewords:120 | strip_html}}		
	 {% endif %} 
	{% endif %}
	<ul class="pager"> <li class="previous"> <a href="{{ post.url }}"> 全文... </a> </li> </ul>	
{% endfor %}

<!-- Pager -->
<div class="row">
  <div class="col-md-2 col-md-offset-5">
		<ul class="pagination">
		  {% if paginator.previous_page %} 
			  {% if paginator.previous_page == 1 %}
				  <li class="previous">
				    <a href="{{ site.url }}/">
				      &larr; 更早
				    </a>
				  </li>
			  {% else %}
				  <li class="previous">
				    <a href="{{ site.url }}/page{{ paginator.previous_page }}">
				      &larr; 更早
				    </a>
				  </li>
			  {% endif %} 
			{% endif %} 
			
			{% if paginator.next_page %}
				  <li class="next">
			    <a href="{{ site.url }}/page{{ paginator.next_page }}">
			      更新 &rarr;
			    </a>
			  </li>
		  {% endif %}
	  </ul>
  </div>
</div>