<!DOCTYPE html>
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="高科技资讯传播与分析咨询">
    <meta name="author" content="">
    <meta name="Keywords" content="SAS 技术内幕"/>
    
    <!-- 90 char for title, 250 char for description(150 for mobile)   
    --> 

    <!-- Facebook Open Graph protocol -->
    {% include includes-og.html %}    
    <!-- Twitter  -->
    {% include includes-tt.html %}
    <!-- Google+  -->
    {% include includes-gl.html %}
     
    <title> {{ page.title }} </title>
 
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon"　/>
    
    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>  
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- 
    <script src="/js/bootstrap.min.js"></script>        
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     
    
    <!-- Custom CSS -->
    <link href="/css/blog.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
    queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://
    -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
      </script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
	  
	  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
      });
    </script>

    <script type="text/x-mathjax-config">
       MathJax.Hub.Queue(function() {
         var all = MathJax.Hub.getAllJax(), i;
         for(i=0; i < all.length; i += 1) {
           all[i].SourceElement().parentNode.className += ' has-jax';
         }
       });
    </script>

<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  
<!--
 <link href="/jquery.bsPhotoGallery/jquery.bsPhotoGallery.css" rel="stylesheet">
 <script src="/jquery.bsPhotoGallery/jquery.bsPhotoGallery.js"></script>
 <script>
      $(document).ready(function(){
        $('ul.first').bsPhotoGallery({
          "classes" : "col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12",
          "hasModal" : true,
          // "fullHeight" : false
        });
      });
    </script>
 
    
  </head>
 
   <style>
    @import url(https://fonts.googleapis.com/css?family=Bree+Serif);
 
      ul {
          padding:0 0 0 0;
          margin:0 0 40px 0;
      }
      ul li {
          list-style:none;
          margin-bottom:10px;
      }

    .text {
      /*font-family: 'Bree Serif';*/
      color:#666;
      font-size:11px;
      margin-bottom:10px;
      padding:12px;
      background:#fff;
    } 
  </style>
  
  <body style="padding-top: 70px; padding-bottom: 70px;" >
    <!-- Navigation -->
    <style type="text/css">
      .navbar-inner {  background-color: #017CC3; }
    </style>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="/index.html" title="首页"> <span class="glyphicon glyphicon-tower"/> </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">            
            <li><a href="/categories.html">分 类</a></li> 
            <li><a href="/archives.html">存 档</a></li>
            <li><a href="/search.html">搜 索</a></li>
            <li><a href="/about.html">关 于</a>            
          </ul> 
        </div>
        <!-- /.navbar-collapse -->        
      </div>
      <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
      	<!-- Wetchat-->
        {% include includes-wechat.html %}  

        <!-- Blog Entries Column -->
        <div class="col-md-8">
           
<div class="container">
        <div class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">
            <h3 style="font-family:'Bree Serif', arial; font-weight:bold; font-size:30px;">
                <a style="text-decoration:none; color:#666;" href="http://michaelsoriano.com/create-a-responsive-photo-gallery-with-bootstrap-framework/">Bootstrap Photo Gallery jQuery plugin <span style="color:red;">Demo</span></a>
            </h3>
            <p>Resize your browser and watch the gallery adapt to the view port size. Clicking on an image will activate the Modal. Click <strong><a style="color:red" href="http://michaelsoriano.com/create-a-responsive-photo-gallery-with-bootstrap-framework/">Here</a></strong> to go back to the tutorial</p>
        </div>

        <ul class="row first">
            <li>
                <img alt="Rocking the night away"  src="http://demo.michaelsoriano.com/images/photodune-174908-rocking-the-night-away-xs.jpg">
                <div class="text">Consectetur adipiscing elit</div>
            </li>
            <li>
                <img alt="Yellow sign"  src="http://demo.michaelsoriano.com/images/photodune-287182-blah-blah-blah-yellow-road-sign-xs.jpg">
                <div class="text">Lorem ipsum dolor sit amet, labore et dolore magna aliqua. Ut enim ad minim veniam</div>
            </li>
            <li>
                <img alt="Colors"  src="http://demo.michaelsoriano.com/images/photodune-460760-colors-xs.jpg">
                 <div class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
            </li>
            

  </ul> 
    </div> <!-- /container -->






        </div>
        <br/>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Blog Search Well -->
          <div class="well">
            <h4>
              站内搜索
            </h4>
            <form action="https://www.google.com/search" method="get">
              <div class="input-group">
                <input type="text" name="q" class="form-control">
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="hidden" name="sitesearch" value="www.cnv4.com" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search">
                    </span>
                  </button>
                </span>
              </div>
            </form>
            <!-- /.input-group -->
          </div> 
          
          <!-- Blog Categories Well -->
          <div class="well">
            <h4>
              <span class="glyphicon glyphicon-briefcase"></span> 分类
            </h4>
            <ul class="list-unstyled">
              <li >
                          
{% for cat in site.categories %} 
   
     <a name="{{ cat[0] }}" href="/categories.html#{{ cat[0] }}" class="btn btn-outline-info"><span class="glyphicon glyphicon-folder-open"></span> {{ cat[0] }} </a>
      
{% endfor %} 
                  
                 
              </li>
            </ul>
          </div>
          
          
          <!-- Blog Links Well -->
          <div class="well">
            <h4>
              相关链接
            </h4>
            <ul class="list-unstyled">
              <li>
                <a href="https://github.com">
                  GitHub
                </a>
              </li>
            </ul>
          </div>
          
          <!-- Tag Well -->
          <div class="well">
            <h4>
              <span class="glyphicon glyphicon-tags"></span> Tags
            </h4>
            <ul class="list-unstyled">
              <li >
{% include includes-tags.html %}
           
{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
{% for tag in tags %}
	<a href="{{ site.url }}{{ site.tag_page }}#{{ tag | slugify }}" class="btn btn-outline-warning" ><span class="glyphicon glyphicon-tag"></span> {{ tag }} </a>  
{% endfor %}
                 
                 
              </li>
            </ul>
          </div>
          <!-- Side Widget Well -->

          <!-- Blog Links Well -->
          <!--
          <div class="well">
             <img src="/images/logo_qrcode.png"/>
          </div>
          -->

        </div>
      </div>
      <!-- /.row -->
      <hr>
      
      
      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p align="center">
              <span class="glyphicon glyphicon-grain"></span> CNV4.COM 版权所有 2018, 保留所有权利。
              <!-- <img src="http://www.reliablecounter.com/count.php?page=cnv4.com&digit=style/plain/6/&reloads=0" alt="" title="" border="0" align="center" valign="middle" height="16" />  -->
              <!-- Counter placeholder --> 

 
{% if site.leancloud.enable %}
  <div style="visiblity:hidden">
  <span id="{{ post.url }}" class="leancloud_visitors" data-flag-title="{{ post.title }}"> <span class="leancloud-visitors-count"></span>
  </span>
</div>
{% endif %}  
		
            <br>            					    
            </p>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
      </footer>
      
      
    </div>
    <!-- /.container -->



<!-- Blog Comments -->
{% include includes-ct.html %} 

  </body>
</html>