--- 
layout: default 
comments: true
--- 


<!-- Blog Post -->
<!-- Title -->
<h2>
  {{ page.title }} <div class="post-date"><span class="glyphicon glyphicon-time"></span> {{ page.date | date_to_string }} 
 
<!-- Counter placeholder -->
{% if site.leancloud.enable %}
  <br><span class="glyphicon glyphicon-eye-open"></span>
  <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}"> <span class="leancloud-visitors-count"></span>
  </span>
{% endif %} 
</div> 
  
</h2>

<!-- Tags of current page -->
{% if page.tags %} 
  {% for tag in page.tags %}
    <a href="{{ site.url }}{{ site.tag_page }}#{{ tag | slugify }}" class="btn btn-default btn-xs">   
    	<span class="glyphicon glyphicon-tag"></span>{{ tag }}
    </a>
  {% endfor %}
  {% endif %}
  



<!-- Author -->
<hr>
{{ content }}
<br/>

<div style="margin-top:10px;margin-bottom:10px">
  <ul class="pager"> 	
  {%if page.previous%}
    <li class="next"> <a href="{{page.previous.url}}"> 下篇: {{page.previous.title}} </a> </li> 
 	{%endif%} 
  {%if page.next%}
   <li class="previous">  <a href="{{page.next.url}}"> 上篇: {{page.next.title}}  </a>  </li>
  {%endif%} 
  </ul>
</div>

<hr>

           
<!-- Blog Comments -->
{% include comments.html %}  
 
 
    
